!!!
%html
  %head
    %title Meerkat Manager

    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}

    = csrf_meta_tags
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :head

  %body



    .footer
      == © Meerkat Manager Limited
      = Date.today.year