!!!
%html
  %head
    %title Meerkat Manager

    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}

    = csrf_meta_tags
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Abel'
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :head

  %body
    - if content_for?(:no_container)
      = yield(:no_container)
    - else
      .container-fluid.padding-top
        .span12.search_results#search-everything{'data-search-url' => "#{search_everything_url}", 'data-search-string' => ""}

        = render :partial => 'shared/flash_message'
        = yield

      %footer
        .container
          .float-right
            %p
              == © Meerkat Manager Limited
              = Date.today.year
